SUPABASE_URL=https://enoyydytzcgejwmivshz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVub3l5ZHl0emNnZWp3bWl2c2h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMjg4NTAsImV4cCI6MjA2NjcwNDg1MH0.U0sT-p8S36e6DO0V6zyXFOwlc9ObrLwq9Fk4pKX7AxQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVub3l5ZHl0emNnZWp3bWl2c2h6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTEyODg1MCwiZXhwIjoyMDY2NzA0ODUwfQ.qdWDi0LKfU4fyQspx1UUL25rjwa2Pnf9lj5NX41tYR0
SUPABASE_ACCESS_TOKEN=sbp_d05af9efb6bcf81845fdd25df69088400c3def4d